.footer {
  background-color: var(--primary-bg-color);
  font-family: "Grandstander", cursive;

  padding: 0.4em;
}
.redes {
  margin-left: 0px;
  display: table;   /* Allow the centering to work */
	margin: 0 auto;
}
.redes ul {

	list-style: none;
	padding-top: 0.5em;
}
.redes ul li{
  display: inline;
  margin: 0.5em;
  font-size: 1.5em;
}

@media screen and (max-width: 690px) {

}
