.header {
  background-color: var(--primary-bg-color);
  height: 5em;
  font-family: "Grandstander", cursive;
  padding: 5px;

  display: flex;
  flex-direction: row;
}
.logo {
  width: 214px;
}
.logo svg {
  font-size: 4em;
}
.search svg {
  font-size: 2em;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.title h1 {
  font-size: 2em;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.SearchByWord {
  margin-top: 0.5em;
}
.SearchByWord button {
  border: solid 1px;
  height: 1.5em;
  cursor: pointer;
  background-color: var(--main-bg-color);
}

@media screen and (max-width: 690px) {
  .title h4 {
    /* display: none; */
    font-size: 0.9em;
  }
  .SearchByWord {
    margin-top: 0em;
    width: 5em;
  }
  .SearchByWord ::placeholder {
    font-size: 0.8em;
  }
  .header {
    padding: 0em;
  }

  .SearchByWord button {
    width: 6em;
  }
  .logo {
    width: 150px;
  }
}
